@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sometype Mono", monospace;
  scrollbar-width: 1px
}
body {
  background-color: rgb(27, 27, 29);
  height: 95vh;
  width: 96vw;
  /* border: #fed337 solid 1px; */
  margin: 20px;
  margin-right: 2px;
  overflow: hidden;
  border-color: white;
}

div {
  margin: 0.5rem;
  color: white;
  padding: 0.8rem;
}
li {
  color: white;
  font-size: 1.6rem;
}
li :hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
img {
  max-width: 30rem;
  max-height: 20rem;
  width: fit-content;
  object-fit: cover;
}
p {
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: white;
}
h1 {
  font-size: 3.4rem;
}
h3 {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}
/* ||| ID ||| */
#Identification{
  height: fit-content;
  width: fit-content;
  margin: 0.1rem;
  padding: 0.1rem;
}
/* ||| Nav ||| */
nav {
  z-index: 3;
  /* background-color: darkslategrey; */
  padding: 1.6rem;
  top: 10%;
}
.BtnCntct {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 4px 8px;
  border-radius: 2.5rem;
  background-color: white;
  color: black;
}
.BtnCntct:active {
  background-color: #fed337;
  color: black;
}
.BtnCntct:hover {
  color: black;
  border-color: black;
  background-color: #fed337;
}
#mobile-nav{
  display: none;
}

/* ||| Container & Projets ||| */
.cntnr {
  max-width: 70%;
  right: 0;
  top: 2%;
  height: 95%;
}
#sectionProjets > :nth-child(odd) > div {
  flex-direction: row-reverse;
}
.cntnr a{
  opacity: 0.5;
  filter: grayscale(100%);
}
.cntnr a:hover{
  transition: 0.28s;
  opacity: 1;
  filter: grayscale(0%);

}
section {
  /* background-color: rgb(223, 253, 0); */
  gap: 1rem;
  overflow: auto;
  height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  right: 1%;
}
section ::-webkit-scrollbar { 
    display: none;
}
.outline:hover {
  transition: 0.3s;
  /* opacity: 0.7; */
  /* outline-color: #fed337; */
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  /* background-color: red; */
}
section h3 {
  font-size: 2rem;
  padding: 0.4rem 0.4rem;
}
section p {
  padding: 0rem 0.4rem;
  font-size: 1.6rem;
}

.PrjctSvg {
  background-color: white;
  width: fit-content;
}

/* ||| Flex ||| */
.Flx {
  display: flex;
  flex-wrap: wrap;
}
.FlexRow{
  display: flex;
  flex-direction: row;
}
.FlexColum{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.SpcBtwn {
  justify-content: space-between;
}
.SpcArnd {
  justify-content: space-around;
}
.AlgnItmCntr {
  align-items: center;
}
.RowRvrs {
  flex-direction: row-reverse;
}

/*  ||| Hauteurs/Largeurs ||| */
.cardWidth{
  max-width: 80rem;
}
.Wdth300 {
  max-width: 30rem;
}
.Wdth150 {
  width: 150px;
}
.Hght190 {
  height: 190px;
}
.MrgnBtm8 {
  margin-bottom: 8px;
}
/* .MrgnBttm32{
  margin-bottom: 32px;
} */
.MrgnLft9px {
  margin-left: 9px;
}
.MrgnLft16px {
  margin-left: 16px;
}
.MrgnTop {
  margin-top: 32px;
}

/* Positions */
.abslt {
  position: absolute;
}
.fxd {
  position: fixed;
  z-index: 1;
}
.rltv {
  position: relative;
}
.stck {
  position: sticky;
}

/* Boutons */
/*  ||| Media Queries |||  */
@media all and (max-width: 840px) {
  body{
    overflow: auto;
  }
  #desktop-nav {
    display: none;
  }
  #Identification {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
  }
  /* ||| Nav Mobile ||| */
  #mobile-nav{
    display:flex;
    /* grid-template-columns: 5% 5% 5% 5% 5%; */
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    /* padding: 2em 2em; */
    gap: 2px;
    font-family: "Sometype Mono", monospace;
    font-weight: 400;
  }

nav {
    position: static;
    width: 100%;
    margin: auto;
    width: 100%;
}
#mobile-nav ul {
  display: contents; 
  padding: 0; 
  margin: 0; 
}
#mobile-nav ul li {
  text-align: center; 
  font-size: 1rem;
}
/* #mobile-nav ul li:hover{
  background-color:#fed337;
  color: black;
} */
#sectionProjets > :nth-child(odd) > div {
  flex-direction: column;
}
.cntnr {
    position: static;
    width: 100%;
    height: auto;
    margin: auto;
    & a div{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
}
.Wdth300{
  width: 100%;
}
/* section{
    position: static;
    height: auto;
} */

.abslt, .fxd, .rltv, .stck{
    position: static;
}
.cntnr a{
  opacity: 1;
  filter: grayscale(0%);
}
}